.form{
	margin: 8px 0 0 8px;
}
.schedule{
	width: 900px;
	margin: 30px 0 70px 60px;
	padding: 0 0 60px 0;
	border-bottom: 4px solid #ed9fad;
}
.schedule1{
	width: 10%;
	margin: 15px 0 -1% -4.5%;
	padding: 0 0 0 0;
	float: left;
	color: #ed9fad;
	font-size: 16px;
}
.schedule2{
	width: 10%;
	margin: 15px 0 -1% 40%;
	padding: 0 0 0 0;
	float: left;
	color: #ed9fad;
	font-size: 16px;
}
.schedule3{
	width: 10%;
	margin: 15px -5% -1% 0;
	padding: 0 0 0 0;
	float: right;
	color: #ed9fad;
	font-size: 16px;
}
.select_schedule{
	color: #E97C91;
}
.label1{
	background-color: #ed9fad;
	margin: 10px auto 0 auto;
	color: #fff;
	border-radius: 30px;
	width:30px;
	height: 30px;
	font-size: 14px;
    line-height: 30px;
	text-align: center;
}
.label2{
	background-color: #E97C91;
}
.schedule4{
	color: #E97C91;
}
a {  
	text-decoration: none; 
	color: #f07053;
	}
a:hover{
	text-decoration:underline;
	}
.form_top{
	width:10%;
	padding:1% 2%;
	background-color: #f07053;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	font-size: 16px;
}
.form hr{
	margin: 0 0 10px 0 ;
	width:100%; 
	height:4px; 
	background: #f07053; 
	border: none; 
	float: left;
}
.content{
	width:1002px;
	padding:20px;
	margin: 0 auto 50px auto;
	height: 330px;
	float: left;
}
.introduce_left{
	float: left;
	width:20%;
	text-align: center;
	padding: 0;
	margin: 0 4% 2% 2% ;
}
.introduce_right{
	float: left;
	width:70%;
	text-align: center;
	padding: 0 0 0 0;
	color:#d81e06;
	margin: 0 3% 2% 0;
}
.picture{
	float: left;
	width:100%;
	padding: 0 0 120% 0;
	margin:10% 0 0 0;
	overflow: hidden;
	background-size: auto 200%; 
}
#nam{
	float: left;
	width:100%;
	margin:13% auto 0 auto;
	color:#d81e06;
	font-size: 16px;
	text-align: center;
}
.level{
	float: left;
	width:100%;
	color:#d81e06;
	font-size: 24px;
    display:flex;
    justify-content:center;
    align-items:center;
	margin:0 0 0 -1px;
}
#star{
	float: left;
	color:#d81e06;
	font-size: 24px;
	background: url(../img/star-.png) repeat-x  left center ;
	background-size: auto 70%; 
	padding: 0 0 10% 0;
}
.choose{
	margin: 20% 0 0 0;
	width:20%;
}
.choose span{
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: #f07053;
	color: #fff;
	border-radius: 5px;
	margin: 0 auto 10px auto ;
	display: inline-block;
	cursor: pointer;
}
.introduce_right table{
	margin:  5px 0 3% 5%;
}
.introduce_right tr{
	height:40px;
}
._star{
	width: 20px;
	height: 20px;
	background: url(../img/_star-.png) no-repeat center center;
	background-size: auto 20px; 
	margin: 0 0 0 7px;
	display: inline-block;
	cursor: pointer;
}
.star{
	width: 20px;
	height: 20px;
	background: url(../img/star-.png) no-repeat center center;
	background-size: auto 20px; 
	margin: 0 0 0 7px;
	display: inline-block;
	cursor: pointer;
}
.evaluate{
	margin: 5px 0 0 5%;
	background-color: #fff;
	border:1px solid #f07053;
	width:95%;
	height: 100px;
	line-height: 30px;
	color: #fff;
	font-size: 16px;
	padding: 0 0 0 18px;
	overflow: hidden;
}
textarea{
	width:98%;
	height:87%;
	border: none;
	resize: none;
	padding: 10px 25px 0 5px ;
	background: none;
}
.release{
	width: 80px;
	height: 30px;
	line-height: 30px;
	background-color: #f07053;
	color: #fff;
	border-radius: 5px;
	margin: 10px -20px 10px auto ;
	cursor: pointer;
	float: right;
}
.table table{
	width: 100%;
	border-collapse:collapse;
	margin: 10px auto 30px auto ;
}
.table th{
	background-color: #f07053;
	color: #fff;
	border: none;
	border:1px solid #f07053;
	padding: 0.5% 3%;
	text-align: left;
}
.table td{
	width: 10%;
	border:1px solid #ccc;
	text-align: center;
}
.table td:nth-child(2n){color: #f07053;}
.gochat{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
}
.close{
	width:30px;
	height:30px;
	float: right;
	margin: 0 5px 0 0 ;
	cursor: pointer;
}
.table{
	display: none;
	width:1002px;
}